################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectConsole/DesignTimeBuild
/.vs/ProjectConsole/v16
/ProjectConsoleValores/bin/Debug/net5.0
/ProjectConsoleValores/obj
/ProjectConsoleMultiplos/bin/Debug/net5.0
/ProjectConsoleMultiplos/obj
/ProjectConsoleSalario/obj
/.vs/ProjectMestre
/ProjectConsoleAluno/obj
/ProjectConsoleSalario/bin/Debug/net5.0
/.vs/ProjectMasterCode
/ProjectConsoleAluno/bin/Debug/net5.0
/ProjectConsoleBhaskara/bin/Debug/net5.0
/ProjectConsoleBhaskara/obj
